# funknet.conf.dist - sample config file for Funknet auto-tunneling config
#
# NOTES:
#
# Copy this file to funknet.conf
# Replace the username and password with your local router username and password
# Replace the AS number with your AS number

# rtconfig_path is mandatory

rtconfig_path = /usr/local/bin/RtConfig

# local_as/router/os/host are mandatory

local_as = AS65764
local_endpoint = 1.2.3.4
local_host = 127.0.0.1
local_os = bsd
local_router = zebra

# if your router is behind a NAT (i.e. you're NATting the 
# IPIP -- this works on Netscreen at least) then you need to
# specify the source explicitly here, otherwise the local_endpoint
# is used as the tunnel source. this address should probably
# always be RFC1918-space.

local_source = 10.10.10.10

# if u are dynamic u need these
from_email = 
pgp_key_dir = 
pgp_key_id = 
pgp_passphrase = 
update_email = 
signing_email = 

# optional:
ignore_neighbor = 
ignore_if =
root = sudo

# print warnings as they're generated

warnings = 1

# Lots of debugging info

debug = 0

# stop on errors?

stop = 0

# authentication

username = yourusernameornothing
password = yourpassword
enable = yourenablepassword
