# funknet.conf.dist - sample config file for Funknet auto-tunneling config
#
# NOTES:
#
# Copy this file to funknet.conf
# Replace the username and password with your local router username and password
# Replace the AS number with your AS number

# local_as/router/os/host are mandatory
# local_bgpd_vty required if you set local_host to 127.0.0.1

local_as = AS65764
local_endpoint = 1.2.3.4
local_host = 127.0.0.1
local_os = bsd
local_router = zebra
local_bgpd_vty = /var/run/quagga/bgpd.vty

whois_host = whois.funknet.org
whois_port = 4343
whois_source = FUNKNET

# can be ipfw, iptables, ipf, pf
firewall_type = iptables

ipf_group_number = 100
min_ipfw_rule = 10000
max_ipfw_rule = 20000

# if you want encryption with ipsec, you need to set this
# 'kame' is *BSD and Linux 2.6
# 'freeswan' is Linux 2.4
local_ipsec = kame

# if your router is behind a NAT (i.e. you're NATting the 
# IPIP -- this works on Netscreen at least) then you need to
# specify the source explicitly here, otherwise the local_endpoint
# is used as the tunnel source. this address should probably
# always be RFC1918-space.

local_source = 10.10.10.10

# if u are dynamic u need these
from_email     = 
pgp_key_dir    = 
pgp_key_id     = 
pgp_passphrase = 
update_email   = 
signing_email  = 

username = blah
password = blah
enable = blah

# rtconfig_path is mandatory
#rtconfig_path = /usr/local/bin/RtConfig

# for testing, use /bin/true instead of 
# the actual RtConfig binary
rtconfig_path = /bin/true

ignore_if = tunl0
ignore_neighbor = none
warnings = no

rcfile = /etc/init.d/funknet-tunnels
root = runas

# encryption

encr_ipsec   = kame
encr_cipher1 = aes 3des des
encr_hash1   = sha md5
encr_cipher2 = aes 3des des
encr_hash2   = sha md5
encr_proto   = esp
encr_dhgroup = 5

# paths. these all need to exist already. 

# paths to live dirs for ike daemon and 
# ipsec policy tool e.g. (racoon+setkey)
encr_ikepath = /tmp/ipsec/racoon
encr_setkeypath = /tmp/ipsec/setkey
encr_pskpath = /tmp/ipsec/psk.txt

# where live copies of keys/certs go. this applies to both ipsec and
# openvpn. NB these paths *must* be different, as the key and cert have
# the same filename...
encr_keypath = /tmp/ipsec/key
encr_certpath = /tmp/ipsec/cert

# remote keystash

ks_www_user = foo
ks_www_pass = bar
ks_www_host = blank.netdotnet.net

# do not quote these next two values, it breaks the matching:
ks_www_cert = /C=GB/O=Lemon Test/CN=blank.netdotnet.net
ks_www_ca   = /C=GB/O=Lemon Test/CN=blank.netdotnet.net

ks_whois_host = whois.funknet.org
ks_whois_port = 43
ks_whois_source = FUNKNET

# the local keystash cache directory

ks_path = /Users/chris/ks
